<%- include('components/header.ejs') %>

<main>
    <div class="container">
        <h1 class="text-center my-4">My Blog Posts</h1>
        
        <% if (Object.keys(posts).length === 0) { %>
            <div class="alert alert-info text-center">
                No blog posts available yet.
            </div>
        <% } else { %>
            <div class="row">
                <% Object.entries(posts).forEach(([id, post], index) => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.title %></h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">
                                    <%= post.date %>
                                </h6>
                                <p class="card-text">
                                    <%= post.body.substring(0, 100) %>...
                                </p>
                                <a href="/post/<%= id %>" class="card-link">Read More</a>
                                <a href="/edit/<%= id %>" class="card-link">edit</a>
                                <a href="/delete/<%= id %>" class="card-link">delete</a>
                            </div>
                        </div>
                    </div>
                    
                    <% // Close and open new row every 3 cards for better responsiveness %>
                    <% if ((index + 1) % 3 === 0) { %>
                        </div><div class="row">
                    <% } %>
                <% }); %>
            </div>
        <% } %>
    </div>
</main>

<%- include('components/footer.ejs') %>