<%- include('components/header.ejs') %>

<main class="container">
    <h1><%= post.title %></h1>
    <h5><%= post.date %></h5>
    <p><%= post.body %></p>
</main>

<%- include('components/footer.ejs') %>